/* base.html */

header {
  background-color: rgb(224, 224, 224);
  padding: 10px 25px 10px 10px;
  box-shadow: 0px 3px 10px rgba(143, 141, 141, 0.356);
  border-radius: 10px;
}

button {
  border-radius: 8px;
}

button:hover {
  cursor: pointer;
}

button a {
  color: black;
  display: block;
  text-decoration: none;
}

li {
  list-style: none;
}

.username {
  color: rgba(255, 0, 0, 0.247);
  margin: 0px 0px;
  font-weight: 900;
  font-size: 20px;
}

.nickname {
  color: rgba(0, 17, 255, 0.418);
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 50%;
  gap: 5px;
}

.nav li button {
  background-color: rgb(224, 224, 224);

  width: 200px;
  position: relative;
  height: fit-content;
  padding: 2px 0px;

  box-shadow: 1px 1px 3px rgba(102, 102, 102, 0.233);
  border-width: 2px;
  border-color: rgb(180, 180, 180);
  border-style: solid;
}

.navbar li button:hover {
  box-shadow: 2px 3px 7px rgba(102, 102, 102, 0.6);
}

.nav-dropdown-ul {
  position: absolute;
  height: auto;
  display: none;
  padding-left: 0;
}

.nav-dropdown:hover .nav-dropdown-ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 4px;
}

.nav-dropdown-ul li {
  width: 100%;
}

/* base.html end */

/* index.html */

.news-el {
  margin: 1px 1px;
  border-width: 0px;
  border-radius: 5px;
  background-color: rgb(224, 224, 224);
  box-shadow: 0px 0px 2px 2px rgba(3, 3, 3, 0.493);
}
.news-el:nth-child(2n + 1) {
  background-color: rgb(255, 255, 255);
}

.news-link {
  text-decoration: none;
  font-weight: 900;
  margin: 3px 3px;
}

.news-link:hover {
  text-shadow: 1px 1px 1px blue;
}

.news-list {
  padding: 0px 0px;
  margin-top: 5px;
  list-style: none;
}

.news-img {
  margin: 4px 2px;
  border-style: solid;
  border-width: 1px;
  width: 200px;
}

.news-title {
  text-decoration: none;
  vertical-align: top;
  font-size: large;
  font-weight: 900;
  color: black;
}

/* news.html pages */

.pages {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 6px;

  margin: 0px;
}

.pages-button a, .pages-text {
  font-size: 18px;
}

.pages-text {
  margin: 0px;
  background-color: grey;
  width: fit-content;
  border-radius: 10px;
  padding: 5px 5px;
}

.pages-button {
  display: flex;
  flex-basis: 45%;
  justify-content: space-between;
  gap: 6px;
  
}

.pages-button button {
  width: 50%;
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
}

.next button {
  border-color: rgba(0, 255, 0, 0.395);
  background-color: rgba(0, 255, 0, 0.253);
}

.next button:hover {
  background-color: rgba(0, 255, 0, 0.473);
  box-shadow: 1px 1px 1px rgba(0, 255, 0, 0.595);
}

.prev button {
  border-color: rgba(255, 96, 96, 0.295);
  background-color: rgba(255, 96, 96, 0.116);
}

.prev button:hover {
  background-color: rgba(255, 96, 96, 0.295);
  box-shadow: rgba(255, 96, 96, 0.495);
}

/* news.html pages */

/* study_cards.html */

/* study_cards.html navigation */

.collections-nav {
  display: flex;
  gap: 8px;
  list-style: none;
  padding: 0;
}
.collections-nav li {
  background-color: rgba(180, 180, 180, 0.918);
  padding: 5px 7px;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgba(124, 124, 124, 0.918);
}

.collections-nav a {
  padding: 5px 50px;
  color: black;
  text-decoration: none;
}

.collections-nav li:hover {
  box-shadow: 1px 1px 1px rgba(124, 124, 124, 0.918);
}

/* study_cards.html navigation  END*/

/* study_cards.html collections */

.collections-list {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.collection:nth-child(2n + 1) {
  background-color: rgba(128, 128, 128, 0.212);
}

.collection {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.collection-info {
  display: flex;
  justify-content: space-between;
  flex-basis: 30%;
}

.collection-act {
  display: flex;
  justify-content: space-around;
  flex-basis: 50%;
  align-items: center;
}

.collection-act a {
  text-decoration: none;
  padding: 2%;
}

.collection-act a:nth-child(1) {
  color: green;
}
.collection-act a:nth-child(2) {
  color: blue;
}
.collection-act a:nth-child(3) {
  color: red;
}

.collection-act a:nth-child(1):hover {
  background-color: rgba(0, 128, 0, 0.253);
}
.collection-act a:nth-child(2):hover {
  background-color: rgba(0, 0, 255, 0.267);
}
.collection-act a:nth-child(3):hover {
  background-color: rgba(255, 0, 0, 0.212);
}

.collection-img {
  width: 7%;
  height: 70%;
  padding: 1%;
}

/* study_cards.html collections END */

/* create_card.html */
.form-class {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 8px;
  margin-top: 1%;
  padding: 3% 0% 3% 10%;
  border: 1px solid rgba(0, 0, 0, 0.281);
  border-radius: 10px;
}

.form-class p {
  margin: 0;
}

.text-input {
  display: block;
  width: 80%;
  height: 20px;
}

.form-label {
  font-weight: 900;
}

.form-details {
  color: rgba(0, 0, 0, 0.212);
}

.form-details:hover {
  color: black;
}

.form-buttons {
  display: flex;
  gap: 5px;
  width: 80%;
  justify-content: space-between;
}

.form-buttons button {
  width: 50%;
  padding: 5px 0px;
  border: 1px solid grey;
}

.submit-button {
  background-color: rgba(1, 255, 1, 0.308);
}

.submit-button:hover {
  background-color: rgba(1, 255, 1, 0.5);
}

.reset-button {
  background-color: rgba(255, 0, 0, 0.185);
}

.reset-button:hover {
  background-color: rgba(255, 0, 0, 0.295);
}

/* create_card.html END */

/* confirm_create_card.html */

.form-class .confirm-label span {
  font-weight: 900;
}

.form-class .confirm-label p {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}

/* confirm_create_card.html END */

/* message.html */

.message-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  color: green;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
}

/* message.html END */

/* delete_warning.html */

.delete-confirm-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-left: 18%;
}

/* delete_warning.html  END */

/* edit_collection.html */


.edit-main {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

.edit-main section {
  padding: 3px 3px;
  border: 1px solid rgba(0, 0, 0, 0.281);
  border-radius: 10px;
}

.edit-main section > button {
  margin-top: 6px;
  width:30%
}

.rename-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rename-form button {
  width: 30%;
}

.rename-input {
  width: 22%;
}

.edit-collection-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
}

.edit-collection-form:nth-child(2n+1) {
  background-color: white;
}

.tow-words {
  padding: 4px;
}

.tow-words p {
  margin: 0;
  padding: 2px;
}

.delete-button-edit {
  padding: 0px 10px;
  width: 30%;
}

.delete-button-edit button {
  padding: 10px;
  width: 100%;
}

/* edit_collection.html  END */

/*  */
/*  */

/* open_collection.html */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sentence {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  border: 1px solid rgba(0, 0, 0, 0.281);
  border-radius: 10px;
  padding: 50px 10px;
  margin: 10px;
}

.sentence:hover {
  box-shadow: 0px 0px 10px red;
}

.sentence p {
  margin: 0
}

.language {
  font-size: 18px;
}

.word {
  font-size: 22px;
  font-weight: bold;
}

.word-usage {
  padding-top: 15px;
  font-size: 18px;
}

.card-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;

}

.card-buttons * {
  font-size: 18px;
}

.card-nav {
  display: flex;
  justify-content: space-between;
}

.card-nav button {
  width: 45%;
}

.translate-button {
  background-color: rgba(142, 193, 252, 0.589);
}

.translate-button:hover {
  background-color: rgba(142, 193, 252, 0.822);
}

.card-img {
  width: 50px;
}

/* open_collection.html  END */
/*  */
/*  */
/* signup.html */

.user-main {
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.user-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  font-size: 24px;
}

.user-main div label{
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.user-buttons {
  display: flex;
  justify-content: space-between;
}

.user-buttons button {
  width: 45%;
}

/* signup.html END */
/*  */
/*  */
/* achat.html */

.chat-main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.chat-main > textarea {
  height: 400px;
}

.chat-main textarea {
  border-radius: 5px;
}

.user-input {
  display: flex;
  gap: 5px;
}

.user-input textarea {
  width: 85%
}

.user-input button {
  width: 15%;
}

/* achat.html END */
/*  */
/*  */
/* times.html */
.times-main {
  margin-top: 10px;
  border: 1px solid black;
}
.one-time {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 200px;
}

.one-time > * {
  padding: 5px;
  margin: 0;
  border: 1px solid black;
}

.one-time > p {
  text-align: left;
}

.time-name-width {
  width: 10%;
}

.rule-width {
  width: 15%;
}
.sentence-width {
  width: 35%;
}

.times-form {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.times-form textarea {
  display: block;
  height: 100%;
  margin: 2px;
}

.verbs {
  width: 20%;
  padding: 0;
}

.time-verbs {
  display: flex;
  height: 50%;
}
.time-verbs:nth-child(1) {
  border-bottom: 0.5px solid grey;
}
.time-verbs p {
  padding: 4px 0px 0px 6px;
  margin: 0px;
}

.verb {
  width: 85%;
}

.pronoun {
  width: 15%;
  border-right: 0.5px solid grey;
}