POSTGRES_DB=your_db
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=3322233
DATABASE_HOST=125.0.0.3
POSTGRES_PORT=1111

SQLALCHEMY_DATABASE_URL=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}
SECRET_KEY=your_secret_key_from_django

GPT_API_KEY=open_ai_api_key
