{% extends 'base.html' %} {% block content %}
<main class="times-main">
  {% for time, verbs in times %}
  <div class="one-time">
    <p class="time-name-width">{{ time.name }}</p>
    <p class="rule-width">{{ time.rule }}</p>
    <div class="verbs">

      {% for verb, triger in verbs %}
        <div class="time-verbs">
          <div class="pronoun">
          {% for key in verb %}
            <p>{{ key }}</p> 
          {% endfor %}
          </div>
          <div class="verb">
            {% for key in triger %}
              <p>B: {{ key }}</p> 
            {% endfor %}
          </div>  
        </div>  
      {% endfor %}

    </div>  
    <div class="sentence-width">

      {% for sentence in time.examples %}
      <p>- {{ sentence }}</p>
      {% endfor %}

      {% for search_time, sentences in examples.items %}
        {% if search_time == time.name %}
          {% for sentence in sentences %}
            <p>- {{ sentence.text }}</p>
          {% endfor %}
        {% endif %}
      {% endfor %}

    </div>

    <form class="times-form new-width" method="post" action="{% url 'times:times_post' time_id=time.id %}">
        {% csrf_token %}
        <textarea name="sentence"></textarea>
        <button class="submit-button" type="submit">Add sentence</button>
    </form>

  </div>
  {% endfor %}
</main>
{% endblock %}
