{% extends 'base.html' %} {% block content %}
<main class="times-main">
  {% for time in times %}
  <div class="one-time">

    <p class="time-name-width">{{ time.name }}</p>
    <p class="rule-width">{{ time.rule }}</p>

    <div class="verbs">
    
      {% for pron in time.verbs.all %}
        <div>
          <div class="pronoun">
            {% for word in pron.pron %}
              <p>{{ word }}</p>
            {% endfor %}
          </div>
          <div>
            {% for sent in pron.verbs %}
              <p>{{ sent }}</p>
            {% endfor %}
          </div>
        </div>  

      {% endfor %}

    </div>  
    <div class="table-sentence">
      <div class="inner-sentences">

      {% for sentence in time.examples %}
        <p>- {{ sentence }}</p>
      {% endfor %}

      {% for search_time, sentences in examples.items %}
        {% if search_time == time.name %}
          {% for sentence in sentences %}
          <div class="delete-sentence">
            <p>- {{ sentence.text }}</p>
            <form method="post" action="{% url 'times:delete_sentence' sentence_id=sentence.id %}">
              {% csrf_token %}
              <button type="submit" title="Delete sentence '{{ sentence.text }}'">D</button>
            </form>  
          </div>  
          {% endfor %}
        {% endif %}
      {% endfor %}

      </div>
      <div class="add">

        <button title="Добавить свое предложение в данное окно.">Add</button>
        <form class="times-form" method="post" action="{% url 'times:times_post' time_id=time.id %}">
          {% csrf_token %}
          <textarea name="sentence"></textarea>
          <button class="submit-button" type="submit">Add sentence</button>
        </form>

      </div>
    </div>

    <div>
      <p>Time selectors</p>
    </div>  

  </div>

  {% endfor %}
</main>
{% endblock %}
