{% extends 'base.html' %}

{% block content %}
<main>
<form class="form-class" method="post" action="{% url 'cards:create_card' %}">
    {% csrf_token %}
    <p>You want to create card with:</p>
    <label class="confirm-label">
        <span>Russian:</span>
        <p>{{russian}}</p>
    </label>

    <label class="confirm-label">
        <span>English:</span>
        <p>{{english}}</p>
    </label>

    <label class="confirm-label">
        <span>Usage:</span>
        <p>{{usage}}</p>
    </label>
    <label class="confirm-label">
        <span>Collection:</span>
        <p>{{collection.name}}</p>
    </label>
    

    <input type="hidden" name="russian" value="{{ russian }}">
    <input type="hidden" name="english" value="{{ english }}">
    <input type="hidden" name="usage" value="{{ usage }}">
    <input type="hidden" name="collection_id" value="{{ collection.id }}">

    <section class="form-buttons">
        <button type="submit" class="submit-button">
            Confirm
        </button>
        <button class="reset-button"><a href="{% url 'cards:create_card' %}">
            Back to the create form
        </a></button>
    </section>
</form>
</main>
{% endblock %}