{% extends 'base.html' %}

{% block content %}
<form class="form-class" method="POST" action="{% url 'cards:create_collection' %}">
    {% csrf_token %}
    <div>
        <label>
            <span class="form-label">Name of collection:</span>
            <p>{{ form.name }}</>
        </label>
        <span> {{ form.errors.name }}</span>
    </div>
    <div>
        <label>
            <span class="form-label">Collection image:</span>
            {{ form.img }}
        </label>
        <span> {{form.errors.img }}</span>
    </div>
    <div class="form-buttons">
        <button class="submit-button" type="submit">Submit</button>
        <button class="reset-button" type="reset">Reset</button>
    </div>
</form>
{% endblock %}