{% extends 'base.html' %}

{% block content %}
<form class="form-class" method="POST" action="{% url 'cards:create_collection' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label>
            <span class="form-label">Name of collection:</span>
            <input type="text" name="collection_name" placeholder="Collection name" required>
        </label>
    </div>
    <div>
        <label>
            <span class="form-label">Collection image:</span>
            <input type="file" name="collection_img">
        </label>
    </div>
    <div class="form-buttons">
        <button class="submit-button" type="submit">Submit</button>
        <button class="reset-button" type="reset">Reset</button>
    </div>
</form>
{% endblock %}