{% extends 'base.html' %} 

{% block content %}
<main >
<form class="form-class" method="get" action="{% url 'cards:create_card' %}">

  <label>{{ form.non_field_errors }}</label>
  
  <div class="form-sector">
    <label class="form-label">
      <span>English word:</span>
      <input type="text" class="text-input" name="english_word" value="{{ original }}">
    </label>
  </div>

  <div>
    <label class="form-label">
      <span class="">Russian word:</span>
      <input type="text" class="text-input" name="russian_word" value="{{ translit }}">
    </label>
  </div>

  <div>
    <label>
      <span class="form-label">Usage:</span>
      <input type="text" class="text-input" name="word_usage">
    </label>
    <p class="form-details">
      You can leave this field empty and I'll give you interest fact about China
      with this word.
    </p>
  </div>

  <div>
    <label class="form-label" for="collection">
        <span>Collection:</span>
    </label>
    <select name="collection_choice" id="collection_choice">
      {% for collection in collections %} 
      <option value="{{ collection.id }}" label="{{ collection.name }}" name="collection_choice"> 
      {% endfor %}
    </select>
  </div>

  <div class="form-buttons">
    <button class="submit-button" type="submit">Create card and add to collection</button>
    <button class="reset-button" type="reset">Reset</button>
  </div>

</form>
</main>
{% endblock %}
