{% extends 'base.html' %} {% block content %}

<main class="main-cards">
  <div class="card">
    {% for word in page_obj %}
    <div class="sentence" id="sentence1">
      <p class="language">English word</p>
      <img
        class="card-img"
        src="{{ word.img.url }}"
        alt="description of the image"/>
      <p class="word">{{ word.english_word }}</p>
      <p class="word-usage">{{ word.word_usage }}</p>
    </div>

    <div style="display: none" class="sentence" id="sentence2">
      <p class="language">Russian word</p>
      <img
        class="card-img"
        src="{{ word.img.url }}"
        alt="description of the image"/>
      <p class="word">{{ word.russian_word }}</p>
      <p class="word-usage">{{ word.word_usage }}</p>
    </div>

    <div class="card-buttons">
      <button class="translate-button" type="button" id="toggleButton">
        Translate
      </button>
      <form
        method="post"
        action="{% url 'cards:card_position' collection_id=collection.id word_id=word.id %}">
        {% csrf_token %}

        <div class="card-nav">
          <button class="submit-button" type="submit" name="replace" value="1">
            I know it
          </button>
          <button class="reset-button" type="submit" name="replace" value="0">
            Remind
          </button>
        </div>
      </form>
    </div>

    {% endfor %}
  </div>

  <div>
    <p>
      Collection name:
      <span style="font-weight: bold">{{ collection.name }}</span>
    </p>
    <p>
      Contain
      <span style="font-weight: bold">{{ paginator.num_pages }}</span>
      words
    </p>
  </div>

  <!-- Подключение скриптов Bootstrap (jQuery и Popper.js) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- JavaScript-код для переключения предложений -->
  <script>
    $(document).ready(function () {
      $("#toggleButton").click(function () {
        if ($("#sentence1").is(":visible")) {
          $("#sentence1").hide();
          $("#sentence2").show();
          $("#toggleButton").text("Translate");
        } else {
          $("#sentence2").hide();
          $("#sentence1").show();
          $("#toggleButton").text("Translate");
        }
      });
    });
  </script>
</main>

{% endblock %}
