{% extends 'base.html' %} {% block content %}

<ul class="collections-nav">
  <li>
    <a href="{% url 'cards:create_card' %}">Create card</a>
  </li>
  <li>
    <a href="{% url 'cards:create_collection' %}">Create collection</a>
  </li>
</ul>

<ul class="collections-list">
  {% for collection in object_list %}
  <li class="collection">
    <div class="collection-info">
      <img src="{{ collection.img.url }}" alt="Image" class="collection-img"/>
      <p>{{ collection.name }}</p>
      <p>{{ collection.order_list|length }}</p>
    </div>
    <div class="collection-act">
      <a href="{% url 'cards:open_collection' collection_id=collection.id %}">
        Open Collection
      </a>
      <a href="{% url 'cards:edit_collection' collection_id=collection.id %}">
        Edit Collection
      </a>
      <a href="{% url 'cards:delete_collection' collection_id=collection.id %}">
        Delete Collection
      </a>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}
