<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>English cards</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header>
      {% if user.is_authenticated %}
      <h6 class="username">
        Username: <span class="nickname">{{ user.username }}</span>
      </h6>
      {% endif %}

      <nav class="navbar">
        <ul class="nav">
          <li>
            <button><a href="{% url 'news:main' %}">NEWS</a></button>
          </li>
          {% if user.is_authenticated %}
          <li>
            <button><a href="{% url 'cards:study_cards' %}" class="nav-link">Cards</a></button>
          </li>
          <li class="nav-dropdown">
            <button><a class="nav-dropdown-link" href="#"> GPT </a></button>
            <ul class="nav-dropdown-ul">
              <li>
                <button><a href="{% url 'chat:text_correction' %}">Sentences</a></button>
              </li>
              <li>
                <button><a href="{% url 'chat:chat_ai' %}">Chat with GPT-3</a></button>
              </li>
              <li>
                <button><a href="{% url 'chat:to_ru_translate' %}">To Russian</a></button>
              </li>
              <li>
                <button><a href="{% url 'chat:to_en_translate' %}">To English</a></button>
              </li>
            </ul>
          </li>
          <li>
            <button><a href="{% url 'times:times' %}">Times</a></button>
          </li>
          <li>
            <button>
            <a href="{% url 'users:logout' %}" class="" style="color: red">
              LogOut
            </a>
            </button>
          </li>
          {% else %}
          <li>
            <button>
            <a href="{% url 'users:signup' %}" class="" style="color: green">
              Registration
            </a>
            </button>
          </li>
          <li>
            <button>
            <a href="{% url 'users:login' %}" class="" style="color: blue">
              LogIn
            </a>
            </button>
          </li>
          {% endif %}
        </ul>
        <div class="app-name"><h3>Great <span>Assistant</span></h3></div>
      </nav>

    </header>

    {% block content %} {% endblock %}

    <footer></footer>
  </body>
</html>
