fetch(subtitlesFilePath)
.then((response) => response.text())
.then((data) => {
  const subtitles = parseVTT(data) // Разбор файла VTT
  video.addEventListener('timeupdate', () => {
    const currentTime = video.currentTime
    const currentSubtitle = subtitles.find((subtitle) => {
      return currentTime >= subtitle.start && currentTime <= subtitle.end
    })
    // Если найден соответствующий субтитр, отобразите его текст
    if (currentSubtitle) {
      console.log(currentSubtitle)
      const formattedTime = formatTime(currentTime)
      if (!subtitlesDisplay.textContent.includes(currentSubtitle.text)) {
        const timecodeElement = document.createElement('span')
        timecodeElement.textContent = formattedTime
        const textElement = document.createElement('span')
        subtitlesDisplay.textContent += timecodeElement.textContent + ' ' + currentSubtitle.text + '\n\n'
      }
    } else {
      subtitlesDisplay.textContent = '' // Если нет подходящего субтитра, очистите отображение
    }
  })
})
.catch((error) => {
  console.error('Ошибка загрузки субтитров:', error)
})