{% extends 'base.html' %}
{% block content %}
  <main>
    <div class="video-with-translate">
      <div class="watch-video">
        <div class="subtitles" id="selectedText"></div>
        <div id="player"></div>
      </div>

      <form class="look-translate-subs" method="get" action="{% url 'cards:create_card' %}" target="blank" id="hiddenSelection">
          {% csrf_token %}
          <input type="hidden" id="hiddenSelectionText" name='hidden_select'>
          <div class="selected-text" name="from_selection"></div>
          <div><button class="submit-button" type="submit">Create Card</button></div>
      </form>
    </div>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script>
      // Получаем ссылки на видео и элемент для субтитров

      let player;
      const subtitlesDisplay = document.querySelector('.subtitles')
      const creatCardText = document.getElementById('hiddenSelectionText')
      const translateWindow = document.querySelector('.selected-text')
      const subtitlesFilePath = '{{ video_subs.url }}' 

      // Функция для разбора файла субтитров в формате SRT
      function parseVTT(data) {
        const subtitleBlocks = data.split('\n\n')
        return subtitleBlocks
          .map((block) => {
            const lines = block.split('\n').filter((line) => line.trim())
            if (lines.length < 2) return null // Пропуск пустых или некорректных блоков
      
            const timecode = lines.shift() // Получаем первую строку временной метки
      
            const timeParts = timecode.split(' --> ')
            if (timeParts.length !== 2) return null // Пропуск некорректных временных меток
            const startPart = timeParts[0]
            const endPart = timeParts[1].split(' ')[0]
      
            const startTime = startPart.split('.')[0].split(':').map(parseFloat)
            const startMillis = startPart.split('.')[1]
      
            const endHHMMSS = endPart.split('.')[0].split(':').map(parseFloat)
            const endMillis = endPart.split('.')[1]
      
            const startSeconds = startTime[0] * 3600 + startTime[1] * 60 + startTime[2] + startMillis / 1000
            const endSeconds = endHHMMSS[0] * 3600 + endHHMMSS[1] * 60 + endHHMMSS[2] + endMillis / 1000
            const text = lines.join('\n')

            return { start: startSeconds, end: endSeconds, text }
          })
          .filter((subtitle) => subtitle !== null) // Фильтрация пустых значений
      }
      
      function formatTime(currentTime) {
        const hours = Math.floor(currentTime / 3600)
        const minutes = Math.floor((currentTime - hours * 3600) / 60)
        const seconds = Math.floor(currentTime - hours * 3600 - minutes * 60)
      
        const formattedHours = String(hours).padStart(2, '0')
        const formattedMinutes = String(minutes).padStart(2, '0')
        const formattedSeconds = String(seconds).padStart(2, '0')
      
        return `${formattedHours}:${formattedMinutes}:${formattedSeconds}`
      }

      document.addEventListener('mouseup', function () {
        var selectedText = window.getSelection().toString().trim();
        if (selectedText !== '') {
    
            var selection = window.getSelection();
            if (selection.rangeCount > 0) {
                var range = selection.getRangeAt(0);
                var rect = range.getBoundingClientRect();
            }
    
            // Отправка данных на сервер
            fetch('http://127.0.0.1:8000/api/v1/chat/translate_sentences/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ selected_text: selectedText,
                                       from_site: true })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Ошибка при отправке данных');
                }
                return response.json();
            })
            .then(data => {

                translateWindow.innerHTML = "English: " + selectedText + "<br><br>";
                translateWindow.innerHTML += "Russian: " + data.message;
                console.log(translateWindow.innerHTML);
                creatCardText.value = translateWindow.innerHTML;
                console.log()
            })
            .catch(error => {
                console.error('Ошибка:', error);});
        }
    });

  
      // Функция вызывается после загрузки API
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          videoId: "{{ yt_id }}",
          width: '850',
          height: '500',
          events: {
            'onReady': function(event) {
              // Save current playback time to localStorage when the video is playing
              event.target.playVideo();
              const currentTime = player.getCurrentTime();
              localStorage.setItem("savedTime", currentTime);
            },
            'onStateChange': onPlayerStateChange
          }
        });
      }

      function onPlayerReady(event) {
        event.target.playVideo();
        console.log('Timeout');
      }

      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING) {
          setInterval(() => {
            currentTime = player.getCurrentTime();
            fetch(subtitlesFilePath)
              .then((response) => response.text())
              .then((data) => {
      
                // Вызываем функцию для обработки субтитров
                handleSubtitles(currentTime, data, subtitlesDisplay);
              });
          }, 1000);
        }
      }

      function handleSubtitles(currentTime, data, subtitlesDisplay) {
        const subtitles = parseVTT(data);
        const currentSubtitle = subtitles.find((subtitle) => {
          return currentTime >= subtitle.start && currentTime <= subtitle.end;
        });
      
        if (currentSubtitle) {
          const formattedTime = formatTime(currentTime);
          if (!subtitlesDisplay.textContent.includes(currentSubtitle.text)) {
            const subtitleElement = document.createElement('div');
            subtitleElement.classList.add('inner-text');
      
            const timecodeElement = document.createElement('span');
            timecodeElement.classList.add('inner-time');
            timecodeElement.textContent = formattedTime;
      
            const textElement = document.createElement('span');
            textElement.classList.add('text');
            textElement.textContent = '  ' + currentSubtitle.text;
      
            subtitleElement.appendChild(timecodeElement);
            subtitleElement.appendChild(textElement);
            subtitlesDisplay.appendChild(subtitleElement);
            subtitlesDisplay.scrollTop = subtitlesDisplay.scrollHeight;
          }
        }
      }
      document.addEventListener("DOMContentLoaded", function() {
        const savedTime = localStorage.getItem("savedTime");
        if (savedTime !== null) {
          player.seekTo(savedTime);
        }
      });
      window.addEventListener("beforeunload", function() {
        const currentTime = player.getCurrentTime();
        localStorage.setItem("savedTime", currentTime);
      });
    </script>
  </main>
{% endblock %}
