{% extends 'cards/base.html' %}

{% block content %}
<form method="POST" action="{% url 'cards:rename_collection' collection_id=collection_id %}">
    {% csrf_token %}
    <div>
        <h2> Collection name : {{ collection.name }} </h2>
        <input name="new_name" type="text" placeholder="New name">
        <div>
        {% if message %}
        <span> {{ message }} </span>
        {% endif %}
        </div>
        <button type="submit">Rename collection</button>
    </div>
</form>
<div>
    <label>
        <a href="{% url 'cards:create_card' %}">Add new card</a>
    </label>
</div>
{% for word in queryset %}
<form action="{% url 'cards:remove_card' card_id=word.id collection_id=collection_id %}" method="post">
    {% csrf_token %}
    <div>{{ word.english_word }}, {{ word.russian_word }}
        <button type="submit">Delete card from collection</button>
    </div>
</form>
{% endfor %}
{% endblock %}
