{% extends 'base.html' %}

{% block content %}


<div class="col-11">
    {% for news in page_obj %}
    <div class="border rounded mt-1" style="color: #399390;">
        <h5 class="col-5"><a style="color: black;" href="{{news.url}}" target="_blank">{{news.title}}</a></h5>
        <div class="row">
            <img class="col-2" src="{{news.image}}">
            <p class="col-10" style="color: gray;">{{news.description}}</p>
        </div>
    </div>
    {% endfor %}
</div>

<div class="col-11">
    <div class="row">
        <div class="col-5 d-flex justify-content-start">
            {% if page_obj.has_previous %}
            <a class="btn btn-secondary col-6 p-2 m-2" href="?page=1">&lsaquo;&lsaquo; First </a>
            <a class="btn btn-secondary col-6 p-2 m-2" href="?page={{ page_obj.previous_page_number }}">&lsaquo; Previous </a>
            {% endif %}
        </div>
        <div class="col-2 d-flex justify-content-center mt-3">
            <p class=>Pages</p>
        </div>
        <div class="col-5 d-flex justify-content-end">
            {% if page_obj.has_next %}
            <a class="btn btn-secondary col-6 p-2 m-2" href="?page={{ page_obj.next_page_number }}"> Next &rsaquo;</a>
            <a class="btn btn-secondary col-6 p-2 m-2" href="?page={{ page_obj.paginator.num_pages }}">Last &rsaquo;&rsaquo;</a>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}