{% extends 'base.html' %} {% block content %}

<main>
  <section>
    <ul class="news-list">
      {% for news in page_obj %}
      <li class="news-el">
        <img class="news-img" src="{{news.image}}" />
        <p class="news-text">{{news.description}}</p>
        <a class="news-link" href="{{news.url}}" target="_blank">Link</a>
      </li>
      {% endfor %}
    </ul>
  </section>

  <div class="col-11">
    <div class="row">
      <div class="col-5 d-flex justify-content-start">
        {% if page_obj.has_previous %}
        <a class="btn btn-secondary col-6 p-2 m-2" href="?page=1"
          >&lsaquo;&lsaquo; First
        </a>
        <a
          class="btn btn-secondary col-6 p-2 m-2"
          href="?page={{ page_obj.previous_page_number }}"
          >&lsaquo; Previous
        </a>
        {% endif %}
      </div>
      <div class="col-2 d-flex justify-content-center mt-3">
        <p>Pages</p>
      </div>
      <div class="col-5 d-flex justify-content-end">
        {% if page_obj.has_next %}
        <a
          class="btn btn-secondary col-6 p-2 m-2"
          href="?page={{ page_obj.next_page_number }}"
        >
          Next &rsaquo;</a
        >
        <a
          class="btn btn-secondary col-6 p-2 m-2"
          href="?page={{ page_obj.paginator.num_pages }}"
          >Last &rsaquo;&rsaquo;</a
        >
        {% endif %}
      </div>
    </div>
  </div>
</main>

{% endblock %}
