{% extends 'base.html' %} {% block content %}

<main class="user-main">
  <h2>Login</h2>
  <form class="user-form" method="post" action="{% url 'users:login' %}">
    {% csrf_token %}
    <div>
      <label>
        <span>Username:</span>
        <span>{{ form.username }}</span>
      </label>
      <span> {{ form.errors.username }} </span>
    </div>
    <div>
      <label>
        <span>Password:</span>
        <span>{{ form.password }}</span>
      </label>
      <span> {{ form.errors.password }}</span>
    </div>
    <div class="user-buttons">
      <button class="submit-button" type="submit">Submit</button>
      <button class="reset-button" type="reset">Reset</button>
    </div>
  </form>
  <a href="{% url 'users:password_reset' %}" class="forgot-password">
    Forgot Password?
  </a>
</main>
{% endblock %}
