{% extends 'base.html' %} {% block content %}
<main class="user-main">
  <h2>Registration</h2>
  <form class="user-form" method="post" action="{% url 'users:signup' %}">
    {% csrf_token %}
    <div>
      <label>
        <span class="user-label">Username:</span>
        <span class="user-input">{{ form.username }}</span>
      </label>
      <span>{{ form.errors.username }}</span>
    </div>

    <div>
      <label>
        <span class="user-label">Email:</span>
        <span class="user-input">{{ form.email }}</span>
      </label>
      <span>{{ form.errors.email }}</span>
    </div>
    <div>
      <label>
        <span class="user-label">Password:</span>
        <span class="user-input">{{ form.password1 }}</span>
      </label>
      <span>{{ form.errors.password1 }}</span>
    </div>
    <div>
      <label>
        <span class="user-label">Password validation:</span>
        <span class="user-input">{{ form.password2 }}</span>
      </label>
      <span>{{ form.errors.password2 }}</span>
    </div>
    <div class="user-buttons">
      <button class="submit-button" type="submit">Submit</button>
      <button class="reset-button" type="reset">Reset</button>
    </div>
  </form>
</main>
{% endblock %}
